/* Percents */
/* Font Sets */
/*Colors */
/* line 26, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
body {
  margin: 0;
  background-color: #f48051;
  background-image: url("../images/subtle_white_mini_waves.png");
}

/* line 34, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.container {
  width: 100%;
}

/* line 39, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.row, body, .container {
  min-height: 100%;
  height: 100%;
}

/* line 45, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.socialNetworking {
  padding-top: 35px;
}

/* line 49, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.socialNetIcon {
  margin-top: 18px;
  float: right;
}

/* line 54, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.navbar {
  border-radius: 0;
  border-bottom: 5px solid #bbbbbb;
}

/* line 59, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
nav {
  background-color: white;
  margin: 0px;
  padding: 7px;
  height: 85px;
}

/* line 66, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.logoHolder {
  padding-bottom: 10px;
  text-align: center;
  width: 100;
}

/* line 73, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.floatingLogo {
  padding-top: 10px;
  max-width: 240px;
  width: auto;
  margin-top: -114px;
}

/* line 80, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.legalCopy {
  font: 0.8em/1.3em Verdana, Geneva, "DejaVu Sans", sans-serif;
}

/*Big Ask*/
/* line 86, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.columnLeft, .columnRight {
  background-color: #003300;
  color: white;
  margin: 0, auto;
  padding: 14px;
  min-height: 450px;
  border-radius: 14px;
  min-height: 480px;
}

/*Big Give*/
/* line 97, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.columnRight {
  background-color: #061539;
  margin-left: 15px;
}

/* line 103, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.The, .Big, .Ask, .Give {
  font: 4.4em "nimbus-sans", arial, sans-serif;
  padding-right: 8px;
  color: white;
}

/* line 109, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.Big {
  font: bolder 4.4em "nimbus-sans", arial, sans-serif;
}

/* line 114, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.Ask {
  color: white;
}

/* line 119, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.Give {
  font: bolder 4.4em "nimbus-sans", arial, sans-serif;
}

/* line 124, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.bodyCopy {
  font: normal lighter 1.3em/1.4em "nimbus-sans", arial, sans-serif;
  color: white;
}

/* line 129, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.buttonLead {
  margin-top: 20px;
}

/* line 133, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.buttonLeadOrange {
  margin-top: 20px;
}

/* line 137, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.btn {
  background-color: rgba(241, 96, 37, 0.99);
  border-color: rgba(241, 96, 37, 0.99);
}

/* line 142, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.btn:hover {
  background-color: white;
  border-color: rgba(241, 96, 37, 0.99);
  color: black;
}

/* line 148, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.btn:active {
  background-color: white;
  border-color: rgba(241, 96, 37, 0.99);
  color: black;
}

/* line 154, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.hashtag {
  font: bolder 10em "nimbus-sans", arial, sans-serif;
  color: white;
}

/* line 159, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.no-gutter [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

/* line 166, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.rowTimeline {
  margin: 80px 0 0 0;
}

/* line 171, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.footer {
  margin-top: 70px;
  background-color: white;
  border-top: 5px solid #bbb;
  padding: 30px 20px 20px 20px;
  font: 0.8em/1.3em Verdana, Geneva, "DejaVu Sans", sans-serif;
}

/* line 179, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.header {
  font: bold 2.2em "nimbus-sans", arial, sans-serif;
  padding-bottom: 0px;
  font-weight: 700;
}

/* Bubble with an isoceles triangle GREY
------------------------------------------ */
/* line 188, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.speechBubbleGreen, .speechBubbleBlue {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: white;
  background: #80b280;
  border-radius: 10px;
  font: normal 1.6em/1.2em "liberation-serif", serif;
  font-style: italic;
  letter-spacing: 1px;
}

/* creates triangle */
/* line 201, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.speechBubbleGreen:after, .speechBubbleBlue:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  right: 50px;
  width: 0;
}

/* line 210, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.icon-bar {
  color: black;
  background-color: #777;
}

/* Bubble with an isoceles triangle BLUE
------------------------------------------ */
/* line 217, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.speechBubbleBlue {
  background: #80a3d8;
}

/* creates triangle */
/* line 224, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.speechBubbleBlue:after {
  border-left: 20px solid #80a3d8;
}

/* SOCIAL Bubble with an isoceles triangle GREY
------------------------------------------ */
/* line 232, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.socialBubbleGreen, .socialBubbleBlue {
  position: relative;
  padding: 15px;
  margin: 1em 0 0.95em;
  color: white;
  background: #80b280;
  border-radius: 10px;
  font: normal 1.6em/1.2em "liberation-serif", serif;
  font-style: italic;
  letter-spacing: 1px;
  float: clear;
}

/* creates triangle */
/* line 246, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.socialBubbleGreen:after, .socialBubbleBlue:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  right: 50px;
  width: 0;
  margin-top: -5px;
  margin-left: -5px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #80b280;
}

/* SOCIAL Bubble with an isoceles triangle BLUE
------------------------------------------ */
/* line 261, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.socialBubbleBlue {
  background: #80a3d8;
}

/* creates triangle */
/* line 268, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.socialBubbleBlue:after {
  border-left: 20px solid #80a3d8;
}

/* DROP SHADOWS*/
/* line 275, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.dropShadow {
  box-shadow: 4px 4px 8px #7A4028;
}

/* line 279, ../bootstrap-sass-3.3.4/assets/stylesheets/styles.scss */
.socialLinks {
  font: normal lighter 1.3em/1.4em "nimbus-sans", arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 15px;
  color: white;
  clear: both;
}

/* line 8, ../bootstrap-sass-3.3.4/assets/stylesheets/big_give.scss */
div.liveTextWrapper {
  background-color: white;
  border-radius: 14px;
  border: 5px solid #bbb;
  padding: 20px;
}

/* line 17, ../bootstrap-sass-3.3.4/assets/stylesheets/big_give.scss */
.The, .Big, .Ask, .Give, .Big, .Give {
  color: #061539;
  font-size: 5em;
}

/* line 22, ../bootstrap-sass-3.3.4/assets/stylesheets/big_give.scss */
.liveTextArea {
  margin: 2.0em;
  font: normal lighter 1.1em/1.3em "nimbus-sans", arial, sans-serif;
}

/* line 27, ../bootstrap-sass-3.3.4/assets/stylesheets/big_give.scss */
h3 {
  font: bold 1.7em/0.9em "nimbus-sans", arial, sans-serif;
}

/* line 31, ../bootstrap-sass-3.3.4/assets/stylesheets/big_give.scss */
h2 {
  font: bold 2.2em/0.9em "nimbus-sans", arial, sans-serif;
  color: rgba(241, 96, 37, 0.99);
}

/* line 37, ../bootstrap-sass-3.3.4/assets/stylesheets/big_give.scss */
.floatingLogo2 {
  width: 210px;
  float: right;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 5px;
}

/* line 45, ../bootstrap-sass-3.3.4/assets/stylesheets/big_give.scss */
.footer {
  bottom: 0px;
  width: 100%;
  margin: 50px 0 0 0;
}
