@media (max-width: 1360px) {
  /* line 2, ../bootstrap-sass-3.3.4/assets/stylesheets/media_1176.scss */
  .hashtag {
    font-size: 6em;
  }
}
/* line 7, ../bootstrap-sass-3.3.4/assets/stylesheets/media_1176.scss */
.columnRight {
  margin-left: 15px;
  margin-top: 15px;
}

/* line 12, ../bootstrap-sass-3.3.4/assets/stylesheets/media_1176.scss */
.columnLeft {
  margin-left: 0px;
  margin-top: 15px;
}
