@media (max-width: 738px) {
  /* line 2, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .hashtag {
    font-size: 3em;
  }

  /* line 6, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  nav {
    height: 130px;
  }

  /* line 12, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline-heading h4 {
    font-weight: 700;
    font-size: 1.5em;
  }

  /* line 17, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline-body {
    font-size: .75em;
    line-height: 1.35em;
  }

  /* line 22, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline-badge {
    display: none;
  }

  /* line 26, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li > .timeline-panel {
    border: 2px solid #dcdcdc;
    background: #A32900;
    /*#048499;*/
    border-radius: 0;
    width: 100%;
    float: clear;
  }

  /* line 34, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }

  /* line 40, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .margin15 {
    margin-top: 0px;
  }

  /* line 44, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .margin25 {
    margin-top: 0px;
  }

  /* line 48, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline-panel:before {
    display: none;
  }

  /* line 52, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li.timeline-inverted > .timeline-panel:after {
    display: none;
  }

  /* line 56, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li.timeline-inverted > .timeline-panel:before {
    display: none;
  }

  /* line 61, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li.timeline > .timeline-panel:after {
    display: none;
  }

  /* line 65, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li.timeline > .timeline-panel:before {
    display: none;
  }

  /* line 69, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li > .timeline-panel:after {
    display: none;
  }

  /* line 73, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li > .timeline-panel:before {
    display: none;
  }

  /* line 77, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .timeline > li:nth-child(2) {
    margin-top: 0px;
  }

  /* line 81, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .margin30 {
    margin-top: 0px;
  }

  /* line 85, ../bootstrap-sass-3.3.4/assets/stylesheets/media_738.scss */
  .margin20 {
    margin-top: 0px;
  }
}
