@media (max-width: 782px) {
  /* line 2, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .hashtag {
    font-size: 3em;
  }

  /* line 6, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  nav {
    height: 130px;
  }

  /* line 11, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline-heading h4 {
    font-weight: 700;
    font-size: 1.5em;
  }

  /* line 16, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline-body {
    font-size: .75em;
    line-height: 1.35em;
  }

  /* line 21, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline-badge {
    display: none;
  }

  /* line 25, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li > .timeline-panel {
    border: 2px solid #dcdcdc;
    background: #A32900;
    /*#048499;*/
    border-radius: 0;
    width: 100%;
    float: clear;
  }

  /* line 33, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }

  /* line 39, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .margin15 {
    margin-top: 0px;
  }

  /* line 43, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .margin25 {
    margin-top: 0px;
  }

  /* line 47, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline-panel:before {
    display: none;
  }

  /* line 51, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li.timeline-inverted > .timeline-panel:after {
    display: none;
  }

  /* line 55, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li.timeline-inverted > .timeline-panel:before {
    display: none;
  }

  /* line 60, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li.timeline > .timeline-panel:after {
    display: none;
  }

  /* line 64, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li.timeline > .timeline-panel:before {
    display: none;
  }

  /* line 68, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li > .timeline-panel:after {
    display: none;
  }

  /* line 72, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li > .timeline-panel:before {
    display: none;
  }

  /* line 76, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .timeline > li:nth-child(2) {
    margin-top: 0px;
  }

  /* line 80, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .margin30 {
    margin-top: 0px;
  }

  /* line 84, ../bootstrap-sass-3.3.4/assets/stylesheets/media_782.scss */
  .margin20 {
    margin-top: 0px;
  }
}
