@media (max-width: 515px) {
  /* line 2, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
  nav {
    height: 130px;
    padding: 0;
  }

  /* line 7, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
  .The, .Big, .Give {
    font-size: 3em;
  }

  /* line 13, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
  div.liveTextWrapper {
    border-radius: 0px;
    border: none;
  }

  /* line 18, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
  .hashtag {
    font-size: 2em;
  }
}
/* line 24, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
.footerLogos {
  width: 25%;
  margin-right: 5px;
}

/* line 29, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
.bbbLogo {
  width: 15%;
  margin-right: 5px;
}
