@media (max-width: 515px) {
  /* line 2, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
  nav {
    height: 130px;
  }

  /* line 7, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
  .The, .Big, .Give {
    font-size: 4em;
  }
}
/* line 13, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
div.liveTextWrapper {
  border-radius: 0px;
  border: none;
}

/* line 18, ../bootstrap-sass-3.3.4/assets/stylesheets/media_515.scss */
div.hashtag {
  font-size: 2em;
}
